* {
    text-decoration: none;
}

main {  
    margin-left: 207px;
    padding-top: 80px;
    margin-right: 149px;
}

.fa{
    font-size: 20px;
    margin: 5px;
    color: #ff5454;
}

.button-green {
    background-color: #4c4c4c;
    width: 500px;
    height: 80px;
    border: none;   
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    transition: 0.6s ease;
}

.button-red {
    background-color: #D63535;
    width: 500px;
    height: 80px;
    border: none;   
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    transition: 0.6s ease;
}

.button-red:hover {
    background-color: #a82929;
}


.button-green:hover {
    background-color: #292929;
}

.link-reset-style {
    text-decoration: none;
}

.link-block {
    text-decoration: none;
    color: #000;
}

@media(max-width: 700px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
}   